name: Deploy to k3s

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Create kubeconfig
      run: |
        echo "${{ secrets.K3S_KUBECONFIG }}" > kubeconfig

        # Point the cluster to the PUBLIC IP and skip TLS verification
        kubectl config set-cluster default \
          --server=https://43.204.215.181:6443 \
          --kubeconfig=./kubeconfig \
          --insecure-skip-tls-verify=true

        chmod 600 kubeconfig

    - name: Deploy manifests
      run: |
        KUBECONFIG=./kubeconfig kubectl apply --validate=false -f k8s/
        - name: Verify rollout
      run: |
        KUBECONFIG=./kubeconfig kubectl get pods -n hello-namespace
        KUBECONFIG=./kubeconfig kubectl get svc -n hello-namespace

